# Environments
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# PyTorch and Models
*.pth
*.pt
*.onnx
saved_models/

# Datasets and Media
data/
*.jpg
*.jpeg
*.png
*.webp
*.mp4

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
